
<h1>Eat Da Burger</h1>
<h2>Burgers Not Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}
      <button class='change-devoured' data-id="{{id}}">devoured</button>
    </li>
      {{!-- {{ burgers/burger_name-block devoured=false }} --}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     <li>{{burger_name}}</li>
      {{!-- {{ burgers/burger_name-block devoured=true }} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name</label>
    <br>
    <input type="text" id="burger" name="author">
  </div>
  <br>
  <br>

  <div class="form-group">
    <label for="devoured">Devoured or Not</label><br>
    <br>
    <input type="radio" name="devoured" value="1" checked> Devoured<br>
    <br>
    <input type="radio" name="devoured" value="0"> Not Devoured
    <br>
  </div>
  <br>
  <br>

  <button type="submit">Add Burger</button>
</form>





